<div class="container">
  <h1>Routing fundamentals</h1>

  <div class="row mb-5">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Current content</h5>
          <app-list></app-list>
          <hr />
          <app-details></app-details>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 offset-sm-2">
      <a class="btn btn-primary">List - by name</a>
    </div>
    <div class="col-sm-2 offset-sm-2">
      <a class="btn btn-primary">List - by date</a>
    </div>
    <div class="col-sm-2 offset-sm-2">
      <a class="btn btn-primary">Details - 10</a>
    </div>

  </div>
</div>