
  <form class="form" [formGroup]="myForm" novalidate (ngSubmit)="onSubmit()">
    <div class="row mb-3">
      <label class="form-label">Recipients</label>
      <div class="col" formArrayName="recipients">
        <div class="row mb-2" *ngFor="let recipient of myForm.controls['recipients']['controls']; let i = index">
          <div class="col-sm-9">
            <input type="text" class="form-control" [formControlName]="i" placeholder="mail" />
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <label class="form-label">Full name</label>
      <div class="col">
        <div class="row mb-2">
          <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="first name" />
          </div>
          <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="last name" />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-6">
        <button type="submit" class="btn btn-success me-3">Save</button>
        <button type="button" class="btn btn-primary me-3" (click)="toggleDisableControl();">Disable a control</button>
        <button type="button" class="btn btn-primary me-3" (click)="toggleDisableArray();">Disable the array</button>
        <button type="button" class="btn btn-primary me-3" (click)="toggleDisableGroup();">Disable the group</button>
      </div>
    </div>
  </form>
