<div class="row">
  <div class="col-sm-6 row-label">
    Date
  </div>
  <div class="col-sm-6 value">
    {{ startDate }}
  </div>
</div>
<div class="row">
  <div class="col-sm-6 row-label">
    Date with time
  </div>
  <div class="col-sm-6 value">
    {{ startDate }}
  </div>
</div>
<div class="row">
  <div class="col-sm-6 row-label">
    Fragment of text
  </div>
  <div class="col-sm-6 value">
    {{ longText}}
  </div>
</div>
<div class="row">
  <div class="col-sm-6 row-label">
    Decimal value
  </div>
  <div class="col-sm-6 value">
    {{ rate}} PLN
  </div>
</div>
<div class="row">
  <div class="col-sm-6 row-label">
    Decimal value
  </div>
  <div class="col-sm-6 value">
    {{ percentageCompleted }}
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    {{ getMe() }}
  </div>
</div>